<div class="game-panel">
  <% if statement %>
    <% some code %>
  <% else %>
    <% other code %>
  <% end %>
</div>

<div id='templates'>
  <script type='text/template' class='play-move'>
    <%= erb :_play_move %>
  </script>
  <script type='text/template' class='wait-for-opponent'>
    <%= erb :_wait_for_opponent %>
  </script>
  <script type='text/template' class='game-animation'>
    <%= erb :_game_animation %>
  </script>
<div class="row callout panel">
  <%# Row 1 %>
  <div class="columns small-4 text-left">
    <h4 class="subheader">
      <%= "Match: #{@match[:match_id]}" %>
      </br>
      <small>
        <%= "Started at: <span class="match_started_at">#{@match[:started_at] || "Waiting on other player"}" %>
      </small>
    </h4>
  </div>
  <div class="columns small-4 text-center">
    <h3><a href="#" data-reveal-id="historyModal">History</a></h3> 
  </div>
  <div class="columns small-4 text-right">
    <h4 class="subheader">
      <%= "Game: #{@games.size + 1}" %>
      </br>
      <small>
        <%= "Started at: #{@game[:started_at]}" %>
      </small>
    </h4>
  </div>
  <%# Row 2 %>
  <div class="columns small-6 text-left">
    <h2 class="subheader">
      <%= "#{@opponent[:name]} : #{@opponent[:score]}" %>
    </h2>
  </div>
  <div class="columns small-6 text-right">
    <h2 class="subheader">
      <%= "#{@player[:name]} : #{@player[:score]}" %>
    </h2>
  </div>
</div>
</br>

<div class="row callout panel" id="gameplay">
  <!-- blank div for templating -->
</div>
</div>
 
      <script type="text/javascript">
        var person;

        var personTemplateHtml = $('#templates .person-row').html()
          , personTemplate = _.template(personTemplateHtml)
        ;

        var theFormatter = function(person) {
          console.log("this is running", person);
          var human = {
            name: person
          };

          // var html = "<p data-name=''>" + person + " is awesome <a class=\"tell-name\" href=\"#\">alert name</a></p>";
          return personTemplate(human);
          // return html;
        };

        $('input[type="button"]').on('click', function() {
          // alert('this is the focus event');
          console.log("this works");
          person = $('.user-input').val();
          console.log("what is the user input", person);
          var newHTML = theFormatter(person);
          console.log("new html -> ", newHTML);
          $('.people').append(newHTML);
          // $('.people').last().data('name', person);
        });

        $(".people").on('click', '.tell-name', function() {
          console.log("does tell name work????");
          // console.log('this is my info', $(this).find('.person').data('name') );
          // alert(  );
        });

      </script>
    </body>
</html>
