<div class="row callout panel">
  <%# Row 1 %>
  <div class="columns small-4 text-left subheader">
    <h4>
      <%= "Match: #{@match.match_id}" %>
      </br>
      <small>
        Started at: <span class="match_started_at"><%= @match.started_at || "Waiting on other player" %>
      </small>
    </h4>
  </div>
  <div class="columns small-4 text-center">
    <h3><a href="#" data-reveal-id="historyModal">History</a></h3> 
  </div>
  <div class="columns small-4 text-right">
    <h4 class="subheader">
      Game: <%= @history.size + 1 %>
      </br>
      <small>
        Started at: <%= @game.started_at %>
      </small>
    </h4>
  </div>
  <%# Row 2 %>
  <div class="columns small-6 text-left">
    <h2 class="subheader">
      <%= "#{@opponent.name || "Waiting for opponent"} : #{@opponent.score || 0}" %>
    </h2>
  </div>
  <div class="columns small-6 text-right">
    <h2 class="subheader">
      <%= "#{@player.name} : #{@player.score || 0}" %>
    </h2>
  </div>
</div>
</br>

<div class="row callout panel" id="gameplay">
  <% unless @match.completed_at %>
    <% moves = @game.moves %>
    <% if moves[0] && moves[0].player_id == @player.player_id %>
      <%= erb :_wait_for_opponent %>
    <%# elseif session["#{@match.match_id}".to_sym] == @match.get_current_game %>
    <% else %>
      <%= erb :_play_move %>
    <% end %>
  <%else %>
    <%= erb :_game_over %>
  <% end %>
</div>
